@{
    ViewData["Title"] = "Azure Regionen Karte";
}
<h2>Azure Regionen Weltkarte</h2>
<div id="map" style="height: 600px;"></div>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="/js/map.js"></script>
